:root {
  --primary-grey: rgb(250, 250, 250);
  --border-primary-grey: rgba(115, 115, 115, 0.958);
  --primary-almond: rgb(217, 217, 217);
  --primary-white: rgb(255, 255, 255);
}
html, body, body *, .ui {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body.index {
  background: rgb(46,178,217);
  background: linear-gradient(0deg, rgba(46,178,217,1) 0%, rgba(255,255,255,1) 35%, rgba(255,192,102,1) 100%);
  background-repeat: no-repeat;
}
.fa {
  font-family: 'FontAwesome';
}

a {
  color: #106eea;
  text-decoration: none;
}
.topnav {
  background-color: var(--primary-grey);
  overflow: hidden;
}
.topnav a:first-child {
  float: left;
  text-align: center;
  text-decoration: none;
}
.sidebar a:first-child {
  pointer-events: none;
  padding: 3em 1em !important;
}
.topnav a {
  float: right;
  text-align: center;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.sidenav-content {
  width: calc(100% - 260px) !important;
  height: calc(100vh - 51.5875px) !important;
  
}
.content-header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.content-small-header {
  width: 50.8472px !important;
}
.content-large-header {
  flex: 1;
  padding: 10px;
}
.index-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 51.5875px);
}
.grid-3-equal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-4-equal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid-landing-page-item:first-child {
  grid-column: span 2;
}
.p-2em {
  padding: 2em !important;
}
.p-5em {
  padding: 5em;
}
.p-5em-2em {
  padding: 5em 2em;
}
.p-5em-2em {
  padding: 5em 2em;
}
.p-15px-25px {
  padding: 15px 20px;
}
.p-40px {
  padding: 40px;
}
.pl-2em {
  padding-left: 2em !important;
}
.m-0 {
  margin: 0 !important;
}
.my-15px {
  margin: 15px 0px;
}
.w-50pct {
  width: 50%;
}
.w-100pct {
  width: 100% !important;
}
.h-50px {
  height: 50px !important;
}
.border-top {
  border-top: 1px solid var(--border-primary-grey);
}
.border-bottom {
  border-bottom: 1px solid var(--border-primary-grey);
}
.border-left {
  border-left: 1px solid var(--border-primary-grey);
}
.border-right {
  border-right: 1px solid var(--border-primary-grey);
}
.border-bottom-radius {
  border-radius: 0 0 .28571429rem .28571429rem;
}
.ui.tabular.menu .item.active {
  background-color: var(--primary-grey);
  border-left: 1px solid var(--border-primary-grey);
  border-right: 1px solid var(--border-primary-grey);
  border-top: 1px solid var(--border-primary-grey);
  border-bottom: none;
}
.ui.tabular.menu {
  border-bottom: 1px solid var(--border-primary-grey);
}
.bg-primary-grey {
  background-color: var(--primary-grey) !important;
}
.bg-primary-almond {
  background-color: var(--primary-almond) !important;
}
.cursor-pointer {
  cursor: pointer;
}
.resize-none {
  resize: none !important;
}
.border-none {
  border: none !important;
}

/* datatable style */
table.display {
  text-align: start !important;
  border-top: 1px solid var(--border-primary-grey);
  border-left: 1px solid var(--border-primary-grey);
  border-right: 1px solid var(--border-primary-grey);
}
table.display thead tr th {
  text-align: left !important;
}
table.display tbody tr td {
  text-align: left !important;
}
table.display thead tr th:hover {
  outline: none !important;
  background-color: var(--border-primary-grey);
}
input[type="search"]::-ms-clear {
  display: none !important; width : 0; height: 0;
}
input[type="search"]::-ms-reveal {
  display: none !important; width : 0; height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}
input[type="search"]:focus {
  outline: none !important;
}
.slide-class {
  display: none;
}
.slide-image-class {
  vertical-align: middle;
  width: 100%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-active {
  background-color: #717171;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 60px;
}