:root {
  --primary-grey: rgb(250, 250, 250);
  --border-primary-grey: rgba(115, 115, 115, 0.958);
  --primary-almond: rgb(217, 217, 217);
  --primary-white: rgb(255, 255, 255);
}
html, body, body *, .ui {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body.index {
  background: rgb(46,178,217);
  background: linear-gradient(0deg, rgba(46,178,217,1) 0%, rgba(255,255,255,1) 35%, rgba(255,192,102,1) 100%);
  background-repeat: no-repeat;
}
.fa {
  font-family: 'FontAwesome';
}

a {
  color: #106eea;
  text-decoration: none;
}
.topnav {
  background-color: var(--primary-grey);
  overflow: hidden;
}
.topnav a:first-child {
  float: left;
  text-align: center;
  text-decoration: none;
}
.sidebar a:first-child {
  pointer-events: none;
  padding: 3em 1em !important;
}
.topnav a {
  float: right;
  text-align: center;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.sidenav-content {
  width: calc(100% - 260px) !important;
  height: calc(100vh - 51.5875px) !important;
  
}
.content-header {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}
.content-small-header {
  width: 50.8472px !important;
}
.content-large-header {
  flex: 1;
  padding: 10px;
}
.index-grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: calc(100vh - 51.5875px);
}
.grid-3-equal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.grid-4-equal {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.grid-landing-page-item:first-child {
  grid-column: span 2;
}
.p-2em {
  padding: 2em !important;
}
.p-5em {
  padding: 5em;
}
.p-5em-2em {
  padding: 5em 2em;
}
.p-5em-2em {
  padding: 5em 2em;
}
.p-15px-25px {
  padding: 15px 20px;
}
.p-40px {
  padding: 40px;
}
.pl-2em {
  padding-left: 2em !important;
}
.m-0 {
  margin: 0 !important;
}
.my-15px {
  margin: 15px 0px;
}
.w-50pct {
  width: 50%;
}
.w-100pct {
  width: 100% !important;
}
.h-50px {
  height: 50px !important;
}
.border-top {
  border-top: 1px solid var(--border-primary-grey);
}
.border-bottom {
  border-bottom: 1px solid var(--border-primary-grey);
}
.border-left {
  border-left: 1px solid var(--border-primary-grey);
}
.border-right {
  border-right: 1px solid var(--border-primary-grey);
}
.border-bottom-radius {
  border-radius: 0 0 .28571429rem .28571429rem;
}
.ui.tabular.menu .item.active {
  background-color: var(--primary-grey);
  border-left: 1px solid var(--border-primary-grey);
  border-right: 1px solid var(--border-primary-grey);
  border-top: 1px solid var(--border-primary-grey);
  border-bottom: none;
}
.ui.tabular.menu {
  border-bottom: 1px solid var(--border-primary-grey);
}
.bg-primary-grey {
  background-color: var(--primary-grey) !important;
}
.bg-primary-almond {
  background-color: var(--primary-almond) !important;
}
.cursor-pointer {
  cursor: pointer;
}
.resize-none {
  resize: none !important;
}
.border-none {
  border: none !important;
}

/* datatable style */
table.display {
  text-align: start !important;
  border-top: 1px solid var(--border-primary-grey);
  border-left: 1px solid var(--border-primary-grey);
  border-right: 1px solid var(--border-primary-grey);
}
table.display thead tr th {
  text-align: left !important;
}
table.display tbody tr td {
  text-align: left !important;
}
table.display thead tr th:hover {
  outline: none !important;
  background-color: var(--border-primary-grey);
}
input[type="search"]::-ms-clear {
  display: none !important; width : 0; height: 0;
}
input[type="search"]::-ms-reveal {
  display: none !important; width : 0; height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none !important;
}
input[type="search"]:focus {
  outline: none !important;
}
.slide-class {
  display: none;
}
.slide-image-class {
  vertical-align: middle;
  width: 100%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot-active {
  background-color: #717171;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 60px;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 600;
  font-size: 26px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

.about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  margin-right: 15px;
  color: #106eea;
  border-radius: 50px;
}

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #fff;
  padding: 0 0 30px 0;
  color: #444444;
  font-size: 14px;
  background: #f1f6fe;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #0d58ba;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  text-align: center;
  float: left;
}

#footer .credits {
  float: right;
  text-align: center;
  font-size: 13px;
  color: #444444;
}

#footer-contact,.footer-links {
  display: inline-block;
  vertical-align: top;
  width: 50%; /* adjust the width as needed */
}

#footer-contact {
  padding-right: 20px; /* add some space between the two columns */
}

@media (max-width: 768px) {

  #footer .copyright,
  #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box
}


/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3b8af2;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #106eea;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}


